# Ignore everything by default
*

# Except for these files and directories:
!.gitignore
!.zshrc
!.config/
# Add other files and directories you want to track below, e.g.:
# !.gitconfig
# !.ssh/config 